@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700&display=swap");
:root {
  /* color primary */
  --soft-red: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --dark-cyan: hsl(167, 40%, 24%);
  --dark-blue: hsl(198, 62%, 26%);
  --moderate-cyan: hsl(168, 34%, 41%);

  /* color neutral */
  --darker-blue: hsl(212, 27%, 19%);
  --very-dark-grayish-blue: hsl(213, 9%, 39%);
  --dark-grayish-blue: hsl(232, 10%, 55%);
  --grayish-blue: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);

  /* typography */
  --font-size: 18px;
  --ff-primary: "Barlow", sans-serif;
  --primary-weight-600: 600;

  --ff-secondary: "Fraunces", serif;
  --secondary-weight-700: 700;
  --secondary-weight-900: 900;
}

*,::after,::before{
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

header {
  position: absolute;
  z-index: 10;
  width: 100%;
  margin-top: 2rem;
}

nav {
  display: flex;
  justify-content: space-between;
  margin-inline: 2.2em;
}

.logo {
  width: 12em;
  height: 2.3em;
}

ul {
  display: flex;
}

ul li {
  list-style: none;
  justify-content: space-evenly;
}

.nav-list {
  font-family: var(--ff-primary);
  margin-right: 2.8em;
}

a {
  text-decoration: none;
  color: var(--white);
}

.top-section{
  width: 100%;
  position: relative;
}

.main-img {
  width: 100%;
  background-size: contain;
}

.main-title{
  position: absolute;
  top: 20%;
  left: 25%;
  color: var(--white);
  font-size: 4.5vmax;
  font-family: 'Fraunces',serif;
}

.arrow-down{
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%,50%);
}

.colorful{
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  grid-gap: 0;

  img{
    width: 100%;
  }
}

.transform,
.stand-out{
  margin: auto;
  max-width: 400px;
}

h2,h3,h4{
  font-family: var(--ff-secondary);
  font-weight: var(--secondary-weight-700);
}

h2{
  font-size: 3.1rem;
}

p{
  font-family: var(--ff-primary);
}

.transform-description p,
.stand-out p{
  line-height: 1.6;
  color: var(--dark-grayish-blue);
  font-size: 1rem;
  margin-bottom: 3rem;
}

.learnMore-btn{
  font-family: var(--ff-secondary);
  color: #000;
}

.transform a{
  position: relative;
  margin-top: 2rem;

  &:after{
    display: block;
    content: '';
    position: absolute;
    bottom: 0;
    right: -7px;
    width: 110%;
    height: .5em;
    background-color: hsl(51, 95%, 84%);
    border-radius: 20px;
    z-index: -1;
  }
}

.stand-out a{
  position: relative;
  margin-top: 2rem;

  &:after{
    display: block;
    content: '';
    position: absolute;
    bottom: 0;
    right: -7px;
    width: 110%;
    height: .5em;
    background-color: hsl(6, 77%, 88%);
    border-radius: 20px;
    z-index: -1;
  }
}

.cherry,
.tangerine {
  position: relative;
}

.cherry-img,
.tangerine-img{
  position: absolute;
  inset: 0;
  z-index: -10;
}

.graphic-design,
.photography{
  max-width: 350px;
  text-align: center;
  margin: auto;
  margin-top: auto;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
